.toolbar {
  padding: 16px;
  padding-bottom: 7px;
  max-width: calc(1200px - 5 * 2 * 8px);
  margin: 0 auto;
  width: 100%;
  justify-content: space-between;
}

@media (min-width: 600px) {
  .toolbar {
    padding: 16px 40px 8px !important;
  }
}

.appbar {
  box-shadow: none;
}
