.container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  top: 0;
  left: 0;
  padding-top: 16px;
  padding-left: 16px;
  background-color: #a6bbf5;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  z-index: 99999;
}

.headerLink {
  text-decoration: none;
}

.linksContainer {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav {
  display: flex;
  margin-left: auto;
}

.list {
  margin: 0;
  padding: 0;
}

@media (min-width: 1200px) {
  .list {
    display: flex;
  }
}

.navopen {
  display: block;
  margin-left: initial;
}
