.container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  top: 0;
  left: 0;
  padding-top: 72px;
  /* background-color: theme.palette.primary.main; */
  background-color: #a6bbf5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  z-index: 99999;
}

.nav {
  display: flex;
  margin-left: auto;
}

.navopen {
  display: block;
  margin-left: initial;
}
